<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user.becomes(User)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :description, "Description of Purpose" %>
      <%= f.text_field :description %>

      <%= f.label :interest, "Interest" %>
      <%= f.text_field :interest %>

      <%= f.label :goal, "Goal" %>
      <%= f.text_field :goal %>

      <%= f.label :school, "School" %>
      <%= f.text_field :school %>

      <%= f.label :college_1, "First Dream College" %>
      <%= f.text_field :college_1 %>

      <%= f.label :college_2, "Second Dream College" %>
      <%= f.text_field :college_2 %>

      <%= f.label :college_3, "Third Dream College" %>
      <%= f.text_field :college_3 %>

      <%= f.label :xptag_time, "Amount of Hours Spent Per Week" %>
      <%= f.select :xptag_time, @XPTAG_TIME %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>