<ul class="mentor-profile">
  <li> Name: <%= @user.name %> </li>
  <li> Professional Description: <%= @user.description %> </li>
  <li> Zip codes (life and work background): <%= @user.zip %> </li>
  <li> Colleges attened: <%= @user.college %> </li>
  <li> Affiliations: <%= @user.affiliation %> </li>
  <li> Share your goal for mentees: <%= @user.goal %> </li>
  <li> Interests: <%= @user.interest %> </li>
  <li> Email: <%= @user.email %> </li>
  <li> Experience Tag: <%= @user.xptag %> </li>
  <li> Amount of hours spent per week: <%= @user.xptag_time %> </li>
</ul>